*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    background-color: #e0ffff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}
input{
    
    width: 100%;
    height: 40px;
    display:flex;
    padding: 1rem;
    margin-top: 10px;
    outline: none;
}
button
{
    border: none;
    outline : none;
    background-color: #00bfff;
    align-self: center;
    display:flex;
    padding: 10px;
    margin-top: 10px;
    justify-content: center;
    items-align: center;
}
form{
    background-color: #fff;
    padding: 40px;
    border: 1px solid black;
}
main h1{
    display: flex;
    items-align: center;
    justify-content: center;
}